{% extends 'base.html.twig' %}

{% block body %}

<div
    {{ vue_component('Login', {
        csrfToken: csrf_token('authenticate'),
        lastUsername: last_username,
        error: error ? error.messageKey|trans(error.messageData, 'security') : null
    }) }}>
</div>

{% endblock %}