{% extends 'base.html.twig' %}

{% block title %}Orcamento index{% endblock %}

{% block body %}
    <div {{ vue_component('ListaOrcamentos', {
        'orcamentos': orcamentos,
        'newPath': path('app_orcamento_new'),
        'showPathBase': path('app_orcamento_show', {'id': ':id'}),
        'editPathBase': path('app_orcamento_edit', {'id': ':id'})
    }) }}></div>
{% endblock %}
