{% extends 'base.html.twig' %}

{% block title %}Detalhes do Orçamento{% endblock %}

{% block body %}
    <div {{ vue_component('Orcamento', {
        'orcamento': {
            'id': orcamento.id,
            'titulo': orcamento.titulo,
            'qtd': orcamento.qtd,
            'valorTotal': orcamento.valorTotal,
            'data': orcamento.data ? orcamento.data|date('Y-m-d\\TH:i:s') : null
        },
        'deleteUrl': path('app_orcamento_delete', {'id': orcamento.id}),
        'csrfToken': csrf_token('delete' ~ orcamento.id)
    }) }}></div>
{% endblock %}
