{% extends 'base.html.twig' %}

{% block title %}Gerenciar Serviços{% endblock %}

{% block body %}
<main class="py-5" style="min-height: 80vh; background-color: #fdfaf3; padding-top: 160px !important;">
    <div class="container">
        {% set parsed_servicos = [] %}
        {% for s in servicos %}
            {% set parsed_servicos = parsed_servicos|merge([{
                id: s.id,
                nome: s.nome,
                detalhe: s.detalhe,
                preco: s.preco,
                foto: s.foto|default([])
            }]) %}
        {% endfor %}

        <div {{ vue_component('ListaServico', { 'initialServicos': parsed_servicos }) }}></div>
    </div>
</main>
{% endblock %}
