{% extends 'base.html.twig' %}

{% block title %}Detalhes do Serviço{% endblock %}

{% block body %}
<main class="py-5" style="min-height: 80vh; background-color: #fdfaf3; padding-top: 160px !important;">
    <div class="container">
        <div {{ vue_component('Servico', {
            'servico': {
                'id': servico.id,
                'nome': servico.nome,
                'detalhe': servico.detalhe,
                'preco': servico.preco,
                'foto': servico.foto|default([])
            },
            'deleteUrl': path('app_servico_delete', {'id': servico.id}),
            'csrfToken': csrf_token('delete' ~ servico.id)
        }) }}></div>
    </div>
</main>
{% endblock %}
